<nav>
	{% assign date = page.date | date_to_string %}
	{% if date != null and date != "" %}
	{% assign datestr = date | append: "," %}
	{% else %}
	{% assign datestr = "" %}
	{% endif %}
	
  {% assign author = site.authors | where: 'short_name', page.author | first %}
	
	{% 
		if page.title != "refs"
		and page.title != "butiran"
		and page.title != "Suendo"
		and page.title != "Viridi"
		and page.title != "Steky"
	%}
	<br clear="all">
	<!--div class="citation">
	Cite as: {{ author.name }}, "{{ page.title }}" in <i>Su3ndo lab</i>, {{ datestr }} url <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ site.url }}{{ site.baseurl }}{{ page.url }}</a> [accessed {{ "now" | date: "%d %b %Y" }}].
	{% endif %}
	</div-->
</nav>

